.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-arrow-bar-left {
    width: (16 / 16) * 1em;
}
.icon-arrow-bar-right {
    width: (16 / 16) * 1em;
}
.icon-building {
    width: (16 / 16) * 1em;
}
.icon-calendar3 {
    width: (16 / 16) * 1em;
}
.icon-envelope {
    width: (16 / 16) * 1em;
}
.icon-eye {
    width: (16 / 16) * 1em;
}
.icon-eye-slash {
    width: (16 / 16) * 1em;
}
.icon-filter {
    width: (16 / 16) * 1em;
}
.icon-graph-up {
    width: (16 / 16) * 1em;
}
.icon-image {
    width: (16 / 16) * 1em;
}
.icon-pencil {
    width: (16 / 16) * 1em;
}
.icon-pencil-square {
    width: (16 / 16) * 1em;
}
.icon-people {
    width: (16 / 16) * 1em;
}
.icon-phone {
    width: (16 / 16) * 1em;
}
.icon-plus-lg {
    width: (16 / 16) * 1em;
}
.icon-search {
    width: (16 / 16) * 1em;
}
.icon-sliders {
    width: (16 / 16) * 1em;
}
.icon-speedometer2 {
    width: (16 / 16) * 1em;
}
.icon-trash {
    width: (16 / 16) * 1em;
}
.icon-wallet2 {
    width: (16 / 16) * 1em;
}
.icon-x {
    width: (16 / 16) * 1em;
}
.icon-x-circle {
    width: (16 / 16) * 1em;
}
