.logo
    $self: &

    font-weight: 700
    font-size: 24px

    &__link
        align-items: center
        display: inline-flex
        text-decoration: none
        color: $primary

        @include media-breakpoint-up(lg)
            &:hover
                color: lighten($primary, 10%)

    &__text
        margin-left: 15px

    &__img
        width: 25px
        height: auto

        @include media-breakpoint-up(lg)
            transition: opacity .3s ease

    &--dark
        #{$self}
            &__link
                color: $gray-700

                @include media-breakpoint-up(lg)
                    &:hover
                        color: lighten($gray-700, 10%)

    &--lg
        font-weight: 800
        font-size: 30px

        #{$self}
            &__img
                width: 35px
