.logo
    $self: &

    display: flex
    align-items: center
    text-decoration: none
    cursor: default

    &__text
        margin-left: 15px
        font-weight: 700
        font-size: 24px
        line-height: 1
        color: $primary

    &__img
        width: 25px
        height: auto

        @include media-breakpoint-up(lg)
            transition: opacity .3s ease

    &--dark
        #{$self}
            &__text
                color: $gray-700

    &--lg
        font-weight: 800
        font-size: 30px

        #{$self}
            &__img
                width: 35px
