.logo
    $self: &

    &__link
        align-items: center
        display: inline-flex
        font-size: 24px
        font-weight: 700
        text-decoration: none
        color: $blue-300

        @include media-breakpoint-up(lg)
            &:hover
                color: darken($blue-300, 15%)

                #{$self}
                    &__img
                        opacity: 0.8

    &__text
        margin-left: 15px

    &__img
        width: 25px
        height: auto

        @include media-breakpoint-up(lg)
            transition: opacity .3s ease
