.header
	align-items: center
	background-color: $white
	border-bottom: 1px solid $gray-200
	display: grid
	grid-template-columns: auto auto
	justify-content: space-between

	@include media-breakpoint-up(lg)
		padding: 13px 30px

	&__right
		padding-top: 10px
		padding-bottom: 10px

	// Dropdown
	&__user
		&-dropdown
			font-size: 14px

			.dropdown-toggle
				color: #96a2c1
				text-decoration: none

			.dropdown-menu
				font-size: 14px

		&-drp-img
			border-radius: 50%
			overflow: hidden
			width: 32px

	@include media-breakpoint-down(lg)
		padding-left: 65px
		padding-right: 15px
		min-height: 60px
