header.header.sticky-top
	.header__left.d-flex.align-items-center
		.text-secondary 7 июня 2021 г. 11:05

	.heeader__right
		.header__user-dropdown.dropdown
			a.dropdown-toggle(href="#" data-bs-toggle="dropdown")
				img.header__user-drp-img.img-fluid.me-2(src="./images/zaurmag.png" alt="Заур")
				| Заур

			ul.dropdown-menu.shadow
				li
					a.dropdown-item(href="/profile.html") Мой профиль

				li
					a.dropdown-item(href="#") Выход

