header.header.sticky-top
	.header__left.d-flex.align-items-center
		a.header__sb-collapse.header__sb-collapse--js(href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="Свернуть")
			+icon("arrow-bar-left")
			+icon("arrow-bar-right")

		.text-secondary.small.ms-lg-40.ms-15 7 июня 2021 г. 11:05

	.heeader__right
		.header__user-dropdown.dropdown
			a.dropdown-toggle(href="#" data-bs-toggle="dropdown")
				img.header__user-drp-img.img-fluid.me-2(src="./images/zaurmag.png" alt="Заур")
				| Заур

			ul.dropdown-menu.shadow
				li
					a.dropdown-item(href="#") Мой профиль

				li
					a.dropdown-item(href="#") Выход

