header.header.sticky-top
	.header__left.d-flex.align-items-center
		.text-secondary 7 июня 2021 г. 11:05

	.heeader__right
		.header__user-dropdown.dropdown
			button.btn.dropdown-toggle(type="button" data-bs-toggle="dropdown")
				img.rounded-circle.img-fluid.me-2(src="./images/zaurmag.png" width="32" alt="Заур")
				| Заур

			ul.dropdown-menu.shadow
				li
					a.dropdown-item(href="/profile.html") Мой профиль

				li
					a.dropdown-item(href="#") Выход

