aside#sidebarMenu.sidebar
    button.btn-round.p-0.sidebar__collapse-btn.js-sb-collapse(
        type="button"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-title="Свернуть"
    )
        +icon("arrow-bar-left")
        +icon("arrow-bar-right")

    +logo("wallet.png", "/").sidebar__logo

    nav.mt-30
        include ../nav/nav
