extends ./base/form-empty

append variables
	- var title = 'Изменить пароль'

block main
	+logo("wallet-gray.png", "/").logo--dark.logo--lg.mb-20.justify-content-center

	.card.shadow-sm-soft
		.card-body.p-lg-40
			h1.h4.text-center.mb-25= title
			p.text-secondary.text-center Введите Ваш e-mail и мы вышлем вам инструкции по сбросу пароля.

			form(action="#")
				.mb-3
					label.form-label(for="email") E-mail
					input#email.form-control.form-control-lg(type="email" placeholder="email@address.com")

				button.btn.btn-primary.btn-lg.w-100(type="submit") Отправить

			.mt-3.text-center
				a(href="/sign-in.html") Вернуться на страницу авторизации

