extends ./base/base

append variables
	- var title = 'Система учета доходов/расходов по проектам'
	- var pageId = 'home'
	- var pageUrl = getPageUrl(pageId)

block main
	//- Page header
	header.main__header
		h1.h4.main__header-tlt Главная панель

	.row.gy-30
		.col-xl-6.offset-xl-6
			include ./components/card/card--report
