extends ./base/base

append variables
	- var title = 'Профиль пользователя'

block main
	.row.justify-content-center
		.col-xxl-10
			.profile
				header.profile__header(style="background-image: url('./images/profile/header.jpg')")
					.profile__edit
						a.btn.btn-light.py-2(href="/edit-profile.html")
							+icon("pencil-square").me-lg-2
							span.d-none.d-lg-inline Редактировать

					.profile__short-info
						.profile__avatar
							img.profile__avatar-img(src="./images/zaurmag.png" alt="Заур Магомедов")
							span.profile__avatar-indicator.indicator.indicator--xl.bg-success

						h2.h5.profile__name Заур Магомедов

				.profile__content
					.row.gy-25.gy-lg-0
						.col-xl-4.col-md-5
							+card('Контактная информация').h-100
								ul.profile__contact
									li.profile__contact-item
										+icon("building")
										| г. Каспийск, рес. Дагестан

									li.profile__contact-item
										+icon("phone")
										a.is-transition(href="tel:+79064495544") + 7 (906) 449-55-44

									li.profile__contact-item
										+icon("envelope")
										a.is-transition(href="mailto:demo@zaurmag.ru") demo@zaurmag.ru

						.col-xl-8.col-md-7
							+card('О себе').h-100
								p Я программист - фронтенд-разработчик. Работаю удаленно в IT-компании. Постоянно учусь и развиваюсь в своей сфере. Здесь без этого нельзя. Веду свой блог #[a(href="https://zaurmag.ru" target="_blank") zaurmag.ru].
								p Женат, имею троих детей - девочки. Все они школьники.
