ul.nav.nav-pills.flex-column.mb-auto.navbar-nav
	li.nav-item
		a.nav-link.is-active(href="/")
			+icon("speedometer2", " me-2")
			span.nav-text Главная

	li.nav-item
		a.nav-link(href="#")
			+icon("graph-up", " me-2")
			span.nav-text Отчеты

	li.nav-item
		a.nav-link(href="#")
			+icon("people", " me-2")
			span.nav-text Пользователи

	li.nav-item
		a.nav-link(href="/sign-in.html")
			+icon("people", " me-2")
			span.nav-text Авторизация
