ul.nav.nav-pills.flex-column.mb-auto.navbar-nav
	each item in dataSidebarNav
		- var activeClass = item.link === pageUrl ? ' is-active' : null

		li.nav-item
			a.nav-link(class= activeClass href= item.link)
				+icon(item.icon)
				span.nav-text= item.text
