include ../mixins/pug/index
include ./pug/utils

block variables
	-
		var baseDir = './';

doctype html
html(lang="ru")
	//- Include head
	include ./pug/head

	body
		.page
			//- Include sidebar
			include ../components/sidebar/sidebar

			.content.content--right
				//- Include header
				include ../components/header/header

				main.main
					if pageId !== 'home'
						include ../components/breadcrumb/breadcrumb

					block main

				//- Include footer
				include ../components/footer/footer

		.d-none
			include ../../dist/images/sprite.svg

		block endBody
		block script
			script(src=`${baseDir}js/main.js`)
