include ../mixins/pug/index
include ./pug/utils

block variables
	-
		var baseDir = './';

doctype html
html(lang="ru")
	//- Include head
	include ./pug/head

	body
		.page
			//- Include sidebar
			include ../components/sidebar/sidebar

			.content.content--right
				//- Include header
				include ../components/header/header

				main.main
					if pageId !== 'home'
						include ../components/breadcrumb/breadcrumb

					block main

				//- Include footer
				include ../components/footer/footer

		.d-none
			include ../../dist/images/sprite.svg

		//- Include modal form Add record
		if pageId === 'home'
			include ../components/form/form--add

		//- Include modal form Add new user
		if pageId === 'users'
			include ../components/form/form--add-user

		//- Include modal upload file
		if pageId === 'edit-profile'
			include ../components/f-upload/f-upload

		//- Confirm
		+modal('confirm', 'Вы действительно хотите удалить?', 'Данную операцию отменить будет не возможно!', true)

		script(src=`${baseDir}js/main.js`)
		block script
