include ../mixins/pug/index

block variables
	-
		var baseDir = './';

doctype html
html(lang="ru")
	//- Include head
	include ./pug/head

	body.bg-light
		.page.page--empty.page--login
			.container.py-5
				block main

		.d-none
			include ../../dist/images/sprite.svg

		script(src=`${baseDir}js/main.js`)
		block script
